/* nav.css */

nav {
    background-color: var(--bg-color3);
    background: linear-gradient(125deg, var(--purple) 0%, var(--red) 100%);
    text-decoration: none;
    text-align: left;
    position: relative;

    color: white;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    width: fit-content;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* NAV BUTTONS */

.nav-button {
    height: 100%;
    width: fit-content;
    display: inline-block;
}
.nav-button.selected {
    border-bottom: 2px var(--spotify-green) solid;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 300ms;
    padding: 0rem 1rem 0rem 1rem;
}
nav a:hover {
    color: rgb(182, 178, 201);
    text-decoration: none;
}

nav p {
    padding: 0;
    margin: 0;
}

.nav-part {
    width: 33%;
    height: 4rem;
    line-height: 4rem;
    display: block;
    position: relative;
}

.nav-left {
    padding-left: 2rem;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-right {
    padding-right: 2rem;

    position: relative;
    display: flex;
    justify-content: flex-end;
}
.nav-right * {
    margin-left: 10px;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid var(--bg-color2);
}

/* profile menu */

.profile-dropdown .btn {
    background-color: #68a3ea;
    border-radius: 4rem;
    height: 80%;

    margin-left: 2rem;

    padding-right: 2rem;
    padding-left: 0.25rem;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;
}
.profile-dropdown .btn:hover {
    background-color: var(--spotify-green);
}
.profile-dropdown .btn:focus {
    box-shadow: unset;
    background-color: var(--spotify-green);
}

.profile-image {
    width: 45px;
    height: 45px;
    border-radius: 100%;

    object-fit: cover;
    overflow: hidden;

    margin: 0%;
    vertical-align: top;
    margin-right: 1rem;
}

.profile-dropdown .dropdown-toggle::after {
    content: unset;
}

.profile-dropdown .dropdown-menu {
    background-color: var(--bg-color3);
    color: white;
    margin: 0;
    margin-top: 0.5rem;
    width: 20%;
}
.profile-dropdown a {
    margin: 0;
    color: white;
    width: auto;

    height: 2rem;
    line-height: 2rem;
    display: block;
    padding: 0;
    text-align: center;
}
.profile-dropdown hr {
    margin: 0;
    background-color: var(--bg-color2);
}
#sign-out {
    color: rgb(184, 49, 49);
}
#sign-out:hover {
    color: rgb(158, 34, 86);
}

.show-on-mobile {
    display: none;
}
.hide-on-mobile {
    display: unset;
}
@media only screen and (max-width: 800px) {
    .show-on-mobile {
        display: unset;
    }
    .hide-on-mobile {
        display: none;
    }
    .profile-dropdown .btn {
        padding: 0;
        background-color: transparent;
    }
    .profile-dropdown .btn:focus,
    .profile-dropdown .btn:hover {
        background-color: transparent;
    }
    .profile-image {
        margin: 0;
    }
    .nav-right {
        padding-right: 1rem;
    }
    .nav-part .nav-button {
        padding: 0;
        width: 4rem;
    }
}
