#top-tracks {
    background-color: var(--bg-color2);
    width: 100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.track-container {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0px;

    width: 20rem;
    aspect-ratio: 15 / 20;

    position: relative;

    display: flex;
    flex-direction: column;
    
    overflow-y: hidden;

    transition: 0.2s;

    opacity: 0;
    animation: fade-drop-in 1s;
    animation-fill-mode: forwards;
}

.track-container p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.track-title {
    font-weight: bold;
}

@keyframes fade-drop-in {
    from { opacity: 0; transform: translateY(-3rem); }
    to   { opacity: 1; }
}