#top-tracks {
    background-color: var(--bg-color2);
    width: 100%;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    padding-bottom: 6rem;
}

.track-container {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0px;

    width: 10rem;
    aspect-ratio: 15 / 20;

    position: relative;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;

    transition: 0.2s;

    opacity: 0;
    animation: fade-drop-in 1s;
    animation-fill-mode: forwards;
}

.track-container p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-container img {
    transition: 0.1s;
    cursor: pointer;
}

.track-container img:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.track-title {
    font-weight: bold;
}

#track-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;

    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

#top-container {
    width: 100%;  
    max-width: 1150px;
    height: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#song-info-container {
    display: block;
    width:100%
}

#stream-chart-container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    height: 40%;
    max-height: 300px;
    min-height: 100px;
}

#album-art {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#album-art img {
    width: 100%;
    height: 100%;
}

#title-container {
    height: 20%;
    width: 100%;
    position: relative;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#lyric-container {
    overflow: hidden;
    height: 80%;

    width: 100%;
    padding: 0 2rem 0 2rem;

    position: relative;
    font-size: 2rem;
}

#lyrics {
    animation: scroll 60s linear infinite;
    text-overflow: clip;
}

#lyric-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0), var(--bg-color));
    z-index: 5;
}

.lyric-line {
    animation: fade-in 1s;
}

@media only screen and (max-width: 800px) {
    #top-container {
        flex-direction: column;
        height: auto;
    }
    #lyric-container {
        height: 20rem;
        font-size: 1.3rem;
    }
    #title-container {
        height: auto;
    }
    #title {
        position:unset;
        transform: none;
        padding: 1rem 0rem 1rem 0rem;
    }
}
@keyframes scroll {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    to {
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@keyframes fade-drop-in {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}