<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>    

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

        {% block scripts %}
        {% endblock %}

        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">    
        {% endassets %}

        {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script> 
        {% endassets %}


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include "nav.html" %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            {{ message }}
        </div>
        {% endfor %}

        {% block content%}
        {% endblock %}
    </body>
</html>
