{% extends "base.html" %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
{% endblock %}



{% block content %}

{% if userdata.authorized %}

<div id="top-container">
    <div id="album-art"></div>
    <div id="song-info-container">
        <div id="title-container">
            <h2 id="title"></h2>
        </div>
        <div id="lyric-container">
            <div id="lyrics"></div>
            <div id="lyric-overlay"></div>
        </div>
    </div>
</div>
<div id="stream-chart-container">
    <canvas id="streamChart"></canvas>
</div>
<div id="total-streams"></div>
<div id="total-minutes"></div>
<div id="first-stream"></div>
<div id="rank"></div>



{% endif %}

{% endblock %}